################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.lock
/_20190425Pirmauzduotis/.vs/_20190425Pirmauzduotis/v16/Server/sqlite3
/_20190425Pirmauzduotis/.vs/_20190425Pirmauzduotis/v16
